action_msgs==2.4.4
action_tutorials_py==0.37.8
ament_cmake_test==2.8.7
ament_copyright==0.20.5
ament_cppcheck==0.20.5
ament_cpplint==0.20.5
ament_flake8==0.20.5
ament_index_python==1.13.3
ament_lint==0.20.5
ament_lint_cmake==0.20.5
ament_mypy==0.20.5
ament_package==0.18.3
ament_pep257==0.20.5
ament_uncrustify==0.20.5
ament_xmllint==0.20.5
angles==1.16.1
builtin_interfaces==2.4.4
composition_interfaces==2.4.4
coppeliasim-zmqremoteapi-client==1.0.0
cv_bridge==4.1.0
demo_nodes_py==0.37.8
diagnostic_msgs==5.9.2
example_interfaces==0.14.1
examples_rclpy_executors==0.21.5
examples_rclpy_minimal_action_client==0.21.5
examples_rclpy_minimal_action_server==0.21.5
examples_rclpy_minimal_client==0.21.5
examples_rclpy_minimal_publisher==0.21.5
examples_rclpy_minimal_service==0.21.5
examples_rclpy_minimal_subscriber==0.21.5
future==0.16.0
geometry_msgs==5.9.2
image_geometry==4.1.0
interactive_markers==2.8.4
# Editable install with no version control (Lab1_simple_follow==0.0.0)
-e /home/elix/Desktop/ai-and-robotics-lab/colcon_ws/build/Lab1_simple_follow
# Editable install with no version control (Lab2_obstacle_follow==0.0.0)
-e /home/elix/Desktop/ai-and-robotics-lab/colcon_ws/build/Lab2_obstacle_follow
# Editable install with no version control (Lab3_fsm==0.0.0)
-e /home/elix/Desktop/ai-and-robotics-lab/colcon_ws/build/Lab3_fsm
laser_geometry==2.11.3
launch==3.9.7
launch_ros==0.29.8
launch_testing==3.9.7
launch_testing_ros==0.29.8
launch_xml==3.9.7
launch_yaml==3.9.7
lifecycle_msgs==2.4.4
logging_demo==0.37.8
map_msgs==2.6.1
matplotlib==3.8.0
# Editable install with no version control (mcts_planner==0.0.0)
-e /home/elix/Desktop/ai-and-robotics-lab/colcon_ws/build/mcts_planner
message_filters==7.3.9
nav_msgs==5.9.2
numpy==2.4.4
pcl_msgs==1.0.0
pendulum_msgs==0.37.8
python_qt_binding==2.5.4
PyYAML==6.0.3
open3d
opencv-python
qt_dotgraph==2.10.7
qt_gui==2.10.7
qt_gui_cpp==2.10.7
qt_gui_py_common==2.10.7
quality_of_service_demo_py==0.37.8
rcl_interfaces==2.4.4
rclpy==10.0.10
resource_retriever==3.9.3
resource_retriever_interfaces==0.0.2
rmw_dds_common==6.0.0
rmw_test_fixture_implementation==0.15.8
ros2action==0.40.7
ros2bag==0.33.2
ros2bag_mcap_cli==0.33.2
ros2bag_sqlite3_cli==0.33.2
ros2cli==0.40.7
ros2component==0.40.7
ros2doctor==0.40.7
ros2interface==0.40.7
ros2launch==0.29.8
ros2lifecycle==0.40.7
ros2multicast==0.40.7
ros2node==0.40.7
ros2param==0.40.7
ros2pkg==0.40.7
ros2plugin==5.8.4
ros2run==0.40.7
ros2service==0.40.7
ros2topic==0.40.7
rosbag2_interfaces==0.33.2
rosbag2_py==0.33.2
rosgraph_msgs==2.4.4
rosidl_adapter==5.2.0
rosidl_buffer==5.2.0
rosidl_cli==5.2.0
rosidl_cmake==5.2.0
rosidl_generator_c==5.2.0
rosidl_generator_cpp==5.2.0
rosidl_generator_py==0.27.2
rosidl_generator_rs==0.4.12
rosidl_generator_type_description==5.2.0
rosidl_parser==5.2.0
rosidl_pycommon==5.2.0
rosidl_runtime_py==0.15.2
rosidl_typesupport_c==3.4.2
rosidl_typesupport_cpp==3.4.2
rosidl_typesupport_fastrtps_c==3.9.5
rosidl_typesupport_fastrtps_cpp==3.9.5
rosidl_typesupport_introspection_c==5.2.0
rosidl_typesupport_introspection_cpp==5.2.0
rpyutils==0.7.2
rqt_action==2.4.1
rqt_bag==2.2.2
rqt_bag_plugins==2.2.2
rqt_console==2.4.3
rqt_graph==1.8.2
rqt_gui==1.10.4
rqt_gui_py==1.10.4
rqt_msg==1.7.2
rqt_plot==1.7.5
rqt_publisher==1.10.2
rqt_py_common==1.10.4
rqt_py_console==1.5.2
rqt_reconfigure==1.8.4
rqt_service_caller==1.5.2
rqt_shell==1.4.1
rqt_srv==1.4.1
rqt_topic==2.1.0
rubik_solver==0.2.0
sensor_msgs==5.9.2
sensor_msgs_py==5.9.2
service_msgs==2.4.4
shape_msgs==5.9.2
sros2==0.16.5
statistics_msgs==2.4.4
std_msgs==5.9.2
std_srvs==5.9.2
stereo_msgs==5.9.2
teleop_twist_keyboard==2.4.1
tf2_geometry_msgs==0.45.7
tf2_kdl==0.45.7
tf2_msgs==0.45.7
tf2_py==0.45.7
tf2_ros_py==0.45.7
tf2_sensor_msgs==0.45.7
tf2_tools==0.45.7
topic_monitor==0.37.8
trajectory_msgs==5.9.2
turtlesim_msgs==1.10.8
type_description_interfaces==2.4.4
unique_identifier_msgs==2.8.1
visualization_msgs==5.9.2
